{% load staticfiles %}

<html>
<head>

	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/demo.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static  'stylesheets/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/player.css' %}" />

</head>
<body>
	<div class="loading"></div>
	
	<div id="gallery" style="margin-top:100px;"></div>
	<div id="player"></div>

	{% if debug %}

		<script type="text/javascript" data-main="static/scripts/Application" src="{% static 'scripts/libs/require.js' %}"></script>

	{% else %}

		<script type="text/javascript" src="{% static 'scripts/distrib/application.js' %}"></script>

	{% endif %}
	
</body>
</html>