{% load staticfiles %}

<html>
<head>

	<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/demo.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static  'stylesheets/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/player.css' %}" />

</head>
<body>
	<div class="loading"></div>
	
	<div id="gallery" style="margin-top:100px;"></div>
	<div id="player"></div>

	
	<script type="text/javascript" data-main="{% static 'scripts/Application.js' %}" 
	 	src="{% static 'scripts/libs/require.js' %}"></script>
</body>
</html>